@model IEnumerable<WEBODY.Models.Randevu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TarihSaat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HizmetAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antrenor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UyeAdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ucret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Durum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TarihSaat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HizmetAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Antrenor.AdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UyeAdSoyad)
            </td>
            <td>
                @item.Ucret.ToString("C2")
            </td>
            <td>
                @if (item.Durum == "Onaylandı")
                {
                    <span class="badge bg-success">Onaylandı</span>
                }
                else if (item.Durum == "İptal Edildi")
                {
                    <span class="badge bg-danger">İptal Edildi</span>
                }
                else if (item.Durum == "Tamamlandı")
                {
                    <span class="badge bg-primary">Tamamlandı</span>
                }
                else
                {
                    <span class="badge bg-warning text-dark">@item.Durum</span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RandevuId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RandevuId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RandevuId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
